@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#020806] text-white selection:bg-emerald-500/30 selection:text-emerald-200 font-sans;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-emerald-500/10 rounded-full hover:bg-emerald-500/20 transition-colors;
}